<!DOCTYPE html>
<html>
    <head>
        <title>Vue Spa Gallery</title>
        
        <!-- external libraries: vue, require, underscore, materialize -->
        <script src="./scripts/external-libraries/vue.js"></script>
        <script src="./scripts/external-libraries/require.js"></script>
        <script src="./scripts/external-libraries/_.js"></script>
        <script src="./scripts/external-libraries/materialize.js"></script>

        <link rel="stylesheet" type="text/css" href="./styles/materialize.css">
        <link rel="stylesheet" type="text/css" href="./styles/gallery.css">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <h4 class="center-align">Vue Spa Gallery</h4>
                <!-- poker -->
                <div id="poker" class="col s12 app">
                    <h5 class="center-align">Poker</h5>
                    <div class="center-align">
                        <div v-for="playingCard in hand">
                            <div class="card center-align valign-wrapper"
                                v-on:click="clickCard"
                                v-bind:class="selected : playingCard.isSelected">
                                <div class="card-body grey">
                                    Q
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="center-align">
                        <span>Bet: {{ bet }}</span>
                        <span>Chips: {{ chips }}</span>
                    </div>
                    <div class="center-align">
                        <button class="waves-effect waves-light btn"
                            v-on:click="clickDeal">Deal</button>
                        <button class="waves-effect waves-light btn"
                            v-on:click="clickBetIncrease">Increase Bet</button>
                        <button class="waves-effect waves-light btn"
                            v-on:click="clickBetDecrease">Decrease Bet</button>
                    </div>
                </div>

                <!-- login --> 
                <div id="login" class="app col s12 m6">
                    <h5 class="center-align">Login</h5>
                    <span>Username:</span> <input v-model="inputUserName" v-on:keyup="resetFormState"></input>
                    <span>Password:</span> <input v-model="inputPassword" v-on:keyup="resetFormState"></input>

                    <button class="btn waves-effect waves-light"
                        name="action"
                        type="submit" 
                        v-on:click="clickLogin">Login</button>
                    <span v-if="resultError">Alert: Credentials are incorrect.</span>
                    <span v-if="resultSuccess">Login successful!</span>
                </div>

                <!-- click counter -->
                <div id="click-counter" class="app col s12 m6">
                    <h5 class="center-align">Click Counter</h5>
                    <button class="waves-effect waves-light btn"
                        v-on:click="addClick">Click</button>
                    <span>{{ clickCount }}</span>
                </div>

                <!-- rock paper scissors -->
                <div id="rock-paper-scissors" class="col s12 m6 app center-align">
                    <div>
                        <h5>Rock, Paper, Scissors</h5>
                        <span>Click a button to play a game.</span>
                    </div>
                    <div>
                        <button class="waves-effect waves-light btn"
                            v-on:click="clickChoice('rock')">Rock</button>
                        <button class="waves-effect waves-light btn"
                            v-on:click="clickChoice('paper')">Paper</button>
                        <button class="waves-effect waves-light btn"
                            v-on:click="clickChoice('scissors')">Scissors</button>
                        <p>Last game: {{ lastGameResult }}</p>
                    </div>
                    <div>
                        <h6>RESULTS</h6>
                        <strong>Your Record</strong>
                        <p>Wins: {{ userRecord.wins }}</p>
                        <p>Losses: {{ userRecord.losses }}</p>
                        <p>Draws: {{ userRecord.draws }}</p>
                        <strong>Your Choices</strong>
                        <p>Rock: {{ userHistory.rock }}</p>
                        <p>Paper: {{ userHistory.paper }}</p>
                        <p>Scissors: {{ userHistory.scissors }}</p>
                        <strong>Computer Choices</strong>                         
                        <p>Rock: {{ computerHistory.rock }}</p>
                        <p>Paper: {{ computerHistory.paper }}</p>
                        <p>Scissors: {{ computerHistory.scissors }}</p>
                    </div>
                </div>
            </div>
        </div>

         <!-- vue components -->
        <script src="./scripts/login.js"></script>
        <script src="./scripts/clickCounter.js"></script>
        <script src="./scripts/rockPaperScissors.js"></script>
        <script src="./scripts/poker.js"></script>
    </body>
</html>

